body{
    background-color: #333;
    font-family: ;
}

.title{
    color: whitesmoke;
    font-size: 60px;
}
#detailing{
    color: whitesmoke;
}
#button{
    outline: none;
    border-radius: 360px;
    background-color: #333;
    float:left;
    margin-left: 10px;
    color: aliceblue;
    font:inherit;

}
#button2{
    outline: none;
    border-radius: 360px;
    background-color: #333;
    float:left;
    margin-left: 10px;
    color: aliceblue;
    font:inherit;

}

#temperature{
float:left;
}
#tempButtonWrapper{
    margin-left:650px;
    margin-right:400px;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), whitesmoke, rgba(0, 0, 0, 0));
}