body{
    background-color:#34495e;
@import url(https://fonts.googleapis.com/css?family=Raleway);
    font-family: 'Raleway', sans-serif;
}

.title{
    color: whitesmoke;
    font-size: 60px;
}
#detailing{
    color: whitesmoke;
}
#detailing:empty{
    display: none;
}
#button1{
    border-color:aliceblue;
    outline: none;
    border-radius: 360px;
    background-color: #333;
    float:left;
    margin-left: 10px;
    color: aliceblue;
    font:inherit;
}
#button1:hover{
    border-color: #737373;
    color:darkgray;
}

#button2{
    border-color:darkgray;
    outline: none;
    border-radius: 360px;
    background-color: #333;
    float:left;
    margin-left: 10px;
    color: aliceblue;
    font:inherit;
}
#button2:hover{
    border-color: #737373;
    color:darkgray;
}

#temperature{
    font-size: 20px;
}
#tempButtonWrapper{
    margin: 0 auto;
    width: 100px;
}
#icons{
    font-size:100px;
}
.wi{

    margin-bottom: 10px;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), whitesmoke, rgba(0, 0, 0, 0));
}
#current_weather{
    color:white;
}
#current_weather:empty{
    display: none;
}

@media all and (max-width: 700px){
    .title{
        font-size: 30px;
    }
}